body{
    font-family: "Oxygen Mono", Arial, sans-serif;
    background: #d4d5d7;
    padding: 40px ;
    margin: 0;
    display: flex;
    justify-content: center;
    border-color:#ccc;
}

.messageinput{
    display: flex;
    padding: 12px;
    background: #fafafa;
    border-radius: 0 0 8px 8px;
}

#container{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 400px;
}

.header{
    padding: 15px 18px;
    background: #006fff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

#chat{
    height: 350px;
    padding: 15px;
    border-bottom: 1px solid;
    overflow-y: auto;
    white-space:pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    scroll-behavior: smooth;
}

#msg{
    font-family: "Oxygen Mono", Arial, sans-serif;
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 14px;
}

button{
    font-family: "Oxygen Mono", Arial, sans-serif;
    padding: 10px 14px;
    margin-left: 10px;
    background: #006fff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover{
    background: #005bbb;
}

#chat::-webkit-scrollbar{
    width: 8px;
}

#chat::-webkit-scrollbar-thumb{
    background: #bbb;
    border-radius: 4px;
}

body.dark{
    background: #121212;
    color: #111;
    border-color: #222;
}

body.dark input,body.dark button{
    background: #1e1e1e;
    color: #fafafa;
}

body.dark #chat {
    background: #3e3e3e;
    color: #eaeaea;
}

body.dark .header, body.dark .messageinput{
    background: #3e00a0;
}


